html {
  background-color: black;
}

header {
  color: white;
  font-style: italic;
  text-align: center;
  margin: 2em;
}

.content {
  margin: 0;
  padding: 3em;
}

.spread {
  background-color: white;
}

.subtitles {
  text-align: center;
    padding: 1em;

}
